{% extends 'base.html' %}
{% block content %}
<h2>All Expenses</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Payment Mode</th>
            <th>Merchant Name</th>
            <th>Location</th>
            <th>Notes</th>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.expense_id }}</td>
            <td>{{ expense.date }}</td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.description }}</td>
            <td>{{ expense.payment_mode }}</td>
            <td>{{ expense.merchant_name }}</td>
            <td>{{ expense.location }}</td>
            <td>{{ expense.notes }}</td>
            <td>{{ expense.created_by }}</td>
            <td>
              <td>{{ expense.id }}</td>
                 <a href="{% url 'expense_update' expense.id %}">Edit</a> |
                 <a href="{% url 'expense_delete' expense.id %}">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="7">No expenses found.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
